@font-face {
  font-family: "fjalla-one";
  src:
    url(./assets/fonts/FjallaOne-Regular.woff) format("woff"),
    url(./assets/fonts/FjallaOne-Regular.woff2) format("woff2");
}

:root {
  --font-stack:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    
    --background-color-primary: #2f4149;
    --background-color-secondary: #0e0e0c;
    --font-color-primary: #c5b498;
    --font-color-secondary: #ced6af;
    --font-color-logo: #97b4be;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* END OF CUSTOM CSS RESET */

body {
  background-image: url(./assets/images/dogs-and-people.jpg);
  background-size: cover;
}

main {
  display: flex;
}

#hero-sidebar {
  height: 100vh;
  width: 100%;
  position: relative;
  flex: 3;
}

#logo-box {
  background-color: var(--background-color-primary);
  width: 100%;
  height: 35vh;
  position: relative;
  backdrop-filter: blur(10px);
}

#logo-container {
  position: absolute;
  width: 340px;
  height: 320px;
  right: 4vw;
  bottom: 0;
}

#logo-container img {
  --image-size: 512px;

  height: calc(var(--image-size) - 360px);
  width: calc(var(--image-size) - 360px);
  position: absolute;
  right: 92px;
  bottom: 39px;
  filter: saturate(2.5) hue-rotate(35deg) brightness(0.75); 
}

.logo-text {
  font-family: "fjalla-one", var(--font-stack);
}

#logo-line1 {
  color: var(--font-color-logo);
  position: absolute;
  font-size: 3rem;
  right: 249px;
  bottom: 42px;
}

#logo-line2 {
  color: var(--font-color-logo);
  position: absolute;
  font-size: 4rem;
  right: 0;
  bottom:  -25px;
  white-space: nowrap;
  overflow: hidden;
}

#photo-info a {
  color: inherit;
}

#photo-info {
  position: absolute;
  right: 20px;
  bottom: 10px;
  appearance: none;
  color: white;
  font-family: var(--font-stack);
  font-size: 0.7rem;
}

#form-side {
  background-color: var(--background-color-secondary);
  flex: 4;
  align-content: center;
}

#form-container {
  max-width: 450px;
  margin: 8vh 3vw;
}

#welcome-msg {
  font-family: "fjalla-one", var(--font-stack);
  font-size: 1.5rem;
  color: var(--font-color-primary);
  margin-left: 15px;
}

#welcome-msg div:last-child {
  margin-top: 20px;
}

form {
  font-family: var(--font-stack);
  font-size: 0.8rem;
  color: var(--font-color-secondary);
  margin-top: 40px;
}

input {
  appearance: none;
  margin: 0 15px 20px;
  height: 30px;
  padding-left: 10px;
}

label {
  margin-left: 15px;
  margin-bottom: 5px;
}

#name-container {
  display: flex;
  flex-wrap: wrap;
}

#name-container div {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
}

input[type="text"] {
  width: 100%;
} 

div:has(input[type="email"]),
div:has(input[type="tel"]) {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"],
input[type="tel"] {
  width: 100%;
}

#password-container {
  display: flex;
  flex-wrap: wrap;
}

#password-container div {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
}

input[type="password"] {
  width: 100%;
}

input {
  appearance: none;
  border: 1px solid #3a3a3a;
  background-color: #1b1c17;
  color: var(--font-color-secondary);
}

input:hover {
  background-color: #24251f;
}

input:focus {
  appearance: none;
  border: 1px solid red;
}

button[type="submit"] {
  border: none;
  border-radius: 5px;
  background-color: var(--background-color-primary);
  color: white;
  width: 250px;
  height: 50px;
  margin-top: 35px;
  margin-left: 15px;
  appearance: none;
  font-family: var(--font-stack);
  font-weight: bolder;
}

button[type="submit"]:hover {
  filter: brightness(1.5);
}

#login {
  font-family: var(--font-stack);
  margin-left: 25px;
  margin-top: 8px;
}

#login a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

#login a:hover {
  color: white;
}

/* body * {
  border: 1px dotted grey;
} */